* {
    font-family: sans-serif;
}

#recipe-title {
    text-align: center;
    font-weight: bolder;
}


.primary-image {
    width: 95dvw;
    height: auto;
}

.glowing {
    animation: glow 3s ease-in-out infinite alternate;
    width: 90dvw;
    margin: 0 2.5dvw
}

@keyframes glow {
    from {
    }
    to {
        box-shadow: 0px 0px 5dvw 5dvw rgba(255,234,53,255);
    }
}