* {
    font-family: sans-serif;
}

#recipe-title {
    text-align: center;
    font-weight: bolder;
}

.primary-image {
    display: flex;
}

.primary-image img{
    flex: 1;
}

.glowing{
    animation: glow 3s ease-in-out infinite alternate;
    margin: 5% 5%;
}

@keyframes glow {
    from {
    }
    to {
        box-shadow: 0px 0px 5vw 5vw rgba(255,234,53,255);
    }
}